:root {
  --dark: #363636;
  --light-dark: #424141;
  --purple: #610c9f;
  --purple-darkness: rgb(85, 9, 139);
  --purple-light: rgb(121, 14, 197);
  --purple-lighter: rgb(200, 19, 197);
  --bg-whiteless: #fcf5ed;
}

.navbar-plataforma {
  align-content: end;
  flex-direction: column;
  flex-wrap: wrap;
}

* {
  font-family: "Montserrat", sans-serif;
  transition: 0.2s all !important;
}

body {
  background-color: var(--bg-whiteless);
}

nav {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--dark);
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none;
}

.dropdown-menu {
  background-color: var(--dark) !important;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown-divider {
  background-color: var(--purple-light);
}

.menu-carrinho {
  min-width: 20.5rem !important;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: 0px 37px 34px -36px rgba(97, 12, 159, 0.75);
  -webkit-box-shadow: 0px 37px 34px -36px rgba(97, 12, 159, 0.75);
  -moz-box-shadow: 0px 37px 34px -36px rgba(97, 12, 159, 0.75);

}

.menu-carrinho::-webkit-scrollbar {
  width: 12px;

  /* width of the entire scrollbar */
}

.menu-carrinho::-webkit-scrollbar-track {
  background: var(--dark);
  border-radius: 10px;
  /* color of the tracking area */
}

.menu-carrinho::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--dark);
  /* creates padding around scroll thumb */
}

.nav-link {
  color: white;
}

.text-purple-light {
  color: var(--purple-light);
}

.nav-link:hover {
  color: var(--purple-light) !important;
}

#pesquisa_curso {
  border-radius: 20px;
  background-color: var(--light-dark);
  border: none;

  color: white;
}

.item-carrinho {

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.div-carrinho {

  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

#liveToast {
  background-color: var(--dark) !important;
  color: white;
  box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
  -webkit-box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
  -moz-box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
}
.toast-header{
  background-color: var(--dark) !important;
  color: white;
}
.title-carrinho {

  border-bottom: 1px solid var(--bg-whiteless);
}

.btn-purple,
.bg-purple {
  background-color: var(--purple);
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  box-shadow: 1px 4px 10px 2px rgba(97, 12, 159, 0.75);
  -webkit-box-shadow: 1px 4px 10px 2px rgba(97, 12, 159, 0.75);
  -moz-box-shadow: 1px 4px 10px 2px rgba(97, 12, 159, 0.75);
}

.btn-purple:hover {
  background-color: var(--purple-darkness);
}

.btn-purple:active {
  background-color: var(--purple-light) !important;
  border: none !important;
}

.text-purple {
  color: var(--purple);
}

#pesquisa_curso::placeholder {
  color: white;
}

#pesquisa_curso:focus {
  box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
  -webkit-box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
  -moz-box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
}

.form-pesquisa {
  flex-grow: 4;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#btn-pesquisa {
  border-radius: 20px;
}

.img-perfil {

  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 2px solid var(--purple);
  border-radius: 50%;
  background-color: var(--light-dark);
}

.card-produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 45vh;
  background-color: var(--purple-light);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.div-img-produto {
  height: 25vh;
  text-align: center;
}

.img-produto {
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

#btn-comprar {

  display: none;

}

.title-produto {
  min-height: 20vh;
  background-color: var(--light-dark);
  border-radius: 15px;

}

.img-produto-nav {

  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  background-color: var(--purple);
}

.title-produto:hover {
  min-height: 25vh;

  #btn-comprar {
    display: initial;
  }
}

@media screen and (max-width: 992px) {
  .form-pesquisa {
    margin-right: 0;
    margin-left: 0;
  }
}