:root {
  --dark: #363636;
  --light-dark: #424141;
  --purple: #610c9f;
  --purple-darkness: rgb(85, 9, 139);
  --purple-light: rgb(121, 14, 197);
  --purple-lighter: rgb(200, 19, 197);
}

.navbar-plataforma {
  align-content: end;
  flex-direction: column;
  flex-wrap: wrap;
}

* {
  font-family: "Montserrat", sans-serif;
  transition: 0.2s all !important;
}

body {
  background-color: #fcf5ed;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--dark);
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none;
}

.dropdown-menu {
  background-color: var(--dark) !important;
  border: none;
}

.dropdown-item {
  color: white;
}

.dropdown-divider {
  background-color: var(--purple-light);
}

.menu-carrinho {
  min-width: 20rem !important;
}

.nav-link {
  color: white;
}

.text-purple-light {
  color: var(--purple-light);
}

.nav-link:hover {
  color: var(--purple-light) !important;
}

#pesquisa_curso {
  border-radius: 20px;
  background-color: var(--light-dark);
  border: none;

  color: white;
}

.btn-purple {
  background-color: var(--purple);
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
  box-shadow: 1px 4px 10px 2px rgba(97, 12, 159, 0.75);
  -webkit-box-shadow: 1px 4px 10px 2px rgba(97, 12, 159, 0.75);
  -moz-box-shadow: 1px 4px 10px 2px rgba(97, 12, 159, 0.75);
}

.btn-purple:hover {
  background-color: var(--purple-darkness);
}

.btn-purple:active {
  background-color: var(--purple-light) !important;
  border: none !important;
}

.text-purple {
  color: var(--purple);
}

#pesquisa_curso::placeholder {
  color: white;
}

#pesquisa_curso:focus {
  box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
  -webkit-box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
  -moz-box-shadow: 1px 1px 4px 3px rgba(97, 12, 159, 0.54);
}

.form-pesquisa {
  flex-grow: 4;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#btn-pesquisa {
  border-radius: 20px;
}

.img-perfil {

  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 2px solid var(--purple);
  border-radius: 50%;
  background-color: var(--light-dark);
}

.card-produto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 45vh;
  background-color: var(--purple-light);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.div-img-produto {
  height: 25vh;
  text-align: center;
}

.img-produto {
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

#btn-comprar {

  display: none;
 
}

.title-produto {
  min-height: 20vh;
  background-color: var(--light-dark);
  border-radius: 15px;

}

.title-produto:hover {
  min-height: 25vh;

  #btn-comprar {
    display: initial;
  }
}

@media screen and (max-width: 992px) {
  .form-pesquisa {
    margin-right: 0;
    margin-left: 0;
  }
}